

/* css styles */


a {
    color: black;
}

div.quarto-about-jolla {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    padding-bottom: 1em;
    z-index: 2;
    background-color: white;
}
